@inject IHttpClientFactory _factory
@inject NavigationManager _nav

@page "/dino"

<h3>Dino</h3>

@if(_items is null)
{
    <p>Loading data, please wait...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Espece</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(Dino dino in _items)
            {
                <tr>
                    <td>@dino.Id</td>
                    <td @onclick="() => OnClick(dino.Id)">@dino.Espece</td>
                    <td><a href="dino/details/@dino.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Dino[]? _items;

    protected override async Task OnInitializedAsync()
    {
        HttpClient client = _factory.CreateClient(ApiName.DinoManagerApi);
        _items = await client.GetFromJsonAsync<Dino[]>("api/dino");
    }

    private void OnClick(int id)
    {
        _nav.NavigateTo($"dino/details/{id}");
    }
}
